:root {
    --back-color: #EAEBEC;
    --button-color-1: #333333;; /* dark */
    --button-color-2: #004677;; /* blue */
    --button-color-3: #bb0f29; /* red */

    --text-color-display: #41403E;
    --text-color-buttons: #fefefe;
    
  }

body {
    background:  var(--back-color);
  }

.calc-container{
    display: flex;
    flex-direction: column;
    padding: 30px;
    max-height: 500px;
    max-width: 380px;
    height: auto;
    width: 90%;
    border-radius: 35px;
    background: #CDCDCD;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;
}

.calc-display-frame {
    background: #858585;  
    width: 100%;
    height: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end
}

.calc-display-text {
    width: 90%;
    height: 90%;
    text-align: right;
    color:  var(--text-color-display);
    overflow: hidden;
    font-size: 3rem;
    font-family:  'Orbitron', sans-serif;
}


.calc-button-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.number-button {
    background-color: var(--button-color-1);
    color: var(--text-color-buttons);
    font-weight: bold;
    font:24px "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 2rem;
    height: 60px;
    outline: none;
    box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
    flex: 1;
}

.clear-button {
    background-color: var(--button-color-3);
    color: var(--text-color-buttons);
    font-weight: bold;
    font:24px "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 2rem;
    height: 60px;
    outline: none;
    flex: 1;
}

.operation-button {
    background-color: var(--button-color-2);
    color: var(--text-color-buttons);
    font-weight: bold;
    font:24px "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 2rem;
    height: 60px;
    outline: none;
    flex: 1;
}

.enter-button {
    background-color: var(--button-color-3);
    color: var(--text-color-buttons);
    border: none;
    font-weight: bold;
    font-size: 2rem;
    height: 60px;
    outline: none;
    flex: 4;
}

